<% provide(:title, "Accueil") %>

<div class="bandeau row">
    <h1 class="bandeau_title">Facilitez la vie de votre coopérative</h1>
    <h1 class="bandeau_title">ou de votre association</h1>
    <h2 class="bandeau_button"><%= link_to "Essai Gratuit", login_path %></h2>
</div>
<div class="fonct row">
    <div class="fonct_det col-sm-3">
        <h3>Création intuitive des assemblée générales</h3>
    </div>
    <div class="fonct_det col-sm-3">
        <h3>Fonction d’agenda pour anticiper et préparer les principales échéances</h3>
    </div>
    <div class="fonct_det col-sm-3">
        <h3>Communication avec les actionnaires et adhérents</h3>
    </div>
    <div class="fonct_det col-sm-3">
        <h3>Gestion des comptes courants associés et des dividendes</h3>
    </div>
</div>
<div class="fonct_but row">
    <h2 class="bandeau_button"><%= link_to "Essai Gratuit", login_path %></h2>
</div>
<div class="how_work row">
    <div class="how_det col-sm-4">
        <h3>1</h3>
        <h3>Vous enregistrez votre coopérative et/ou votre association en quelques minutes</h3>
    </div>
    <div class="how_det col-sm-4">
        <h3>2</h3>
        <h3>Vous créez votre liste d’actionnaire ou d’adhérent</h3>
    </div>
    <div class="how_det col-sm-4">
        <h3>3</h3>
        <h3>Vous pouvez commencer à créer des ag, communiquer avec vos actionnaires ou adhérents</h3>
    </div>
</div>
