<% provide(:title, @company.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="company_info">
      <h1>
        <%= @company.name %>
        <%= @company.siret %>
        <%= link_to "Réglages", edit_company_path %>
      </h1>
    </section>
  </aside>
</div>
