<footer class="footer">
  <small>
    CoopJuris
  </small>
  <nav>
    <ul>
      <li><%= link_to "Qui sommes-nous ?", about_path %></li>
      <li><a>Nous rejoindre</a></li>
      <li><%= link_to " Nous contacter", contact_path %></li>
      <li><a>Partenaires</a></li>
      <li><a>Mentions légales</a></li>
      <li><a>CGUV</a></li>
      <li><%= link_to "FAQ", help_path %></li>
    </ul>
  </nav>
</footer>
